
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-compass:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-stopwatch:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */